:root {
    --main-background: #54a494;
    --main-header:#c38d9e;
    --left-bar: #eeeeee;
    --right-bar: #f7f7f7;
    --active-tab: #541f3a;


}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: var(--main-background);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.active-tab {
    color: red;
}

.hvr:hover {
    color: red;
    cursor: pointer;
}

#first-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open {
    opacity: 1;
    z-index: 999;
}

.modal-inner {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: center;
    width: 380px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal-inner h2 {
    margin: 0;
}

.modal-inner div {
    /* padding: 2px; */
    /* margin: 10px 0; */
    padding: 8px 0px;
}

.blur {
    filter: blur(5px); /* Adjust the blur value as needed */
}

/* edit */

.modal-edit {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-edit.open {
    opacity: 1;
    z-index: 999;
}

.modal-inner-edit {
    background-color: beige;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: center;
    width: 23.75rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#edit-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

#first-row-edit {
    display: flex;
    justify-content: space-between;
    width: 100%;
} 

#title-edit {
    font-size: 1.5rem;
    flex: 1;
    border: none;
}

#description-edit {
    border: none;
    margin-top: 10px;
}


#last-row-edit {
    display: flex;
    justify-content: space-between;
    width: 100%;
} 

/* add button */
#todo-add:hover, #project-add:hover, #project-todo-add:hover, #note-add:hover {
    cursor: pointer;
    color: red;
}

.modal-add {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.1s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-add.open {
    opacity: 1;
    z-index: 999;
}

.modal-inner-add {
    background-color: var(--right-bar);    
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    /* padding: 15px 25px; */
    text-align: center;
    width: 48rem;
    height: 24rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#header-add {
    display: flex;
    background-color: var(--main-header);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#header-title-add {
    padding: 10px;
    color: var(--right-bar);
    flex: 1;
    display: flex;
    align-items: flex-start;

    font-size: 2.5rem;
}

#closeModal-add {
    /* height: 60%;
    width: 2rem; */
    padding: 10px;
    margin-right: 10px;
    border: none;
    background: none;
    font-size: 1.8rem;
    color: #eeeeee;

}

#closeModal-add:hover {
    cursor: pointer;
}

#content-add {
    display: flex;
    height: 100%;
    width: 100%;
}

#content-add-left {
    font-size: 1.4rem;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: var(--left-bar);
}

#todo-add, #project-add, #project-todo-add, #note-add {
    margin-top: 10px;
}

#content-add-right {
    flex-grow: 1;
    padding: 10px;
}

/* todo */

#todo-container-add {
    height: 100%;
}

#todo-add-form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#title-todo-add{
    font-size: 1.2rem;
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: var(--right-bar);
}

#description-todo-add {
    flex: 1;
    margin-top: 10px;

    font-size: 1rem;
    border: none;
    outline: none;
    background-color: var(--right-bar);
}

#title-todo-add:focus, #description-todo-add:focus {
    border: none;
    outline: none;
}

#duedate-todo-add {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}

#date-todo-add{
    margin-left: 10px;
}

#priority-todo-add {
    flex: 1;
    display: flex;
    align-items: flex-start;

    margin-top: 10px;
}

#last-row-todo-add{
    display: flex;
}

/* end of todo-add */

/* project add */

#project-container-add {
    height: 100%;
}

#project-add-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#label-project-todo-add {

}

#project-add-blank{
    flex: 1;
}

#choose-project-todo-add {
    display: flex;
    gap: 10px;
}


#title-project-add{
    font-size: 1.2rem;
    border: none;
    outline: none;
    background-color: var(--right-bar);
    margin-top: 10px;
}

#confirm-project-add {
    width: 20%;
}


/* end of project add */

/* project to-do  */
#project-todo-container-add {
    height: 100%;
}

#project-todo-add-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    outline: none;
}

#choose-project-todo-add {
    padding-top: 10px;
}

/* #title-project-todo-add{
    font-size: 1.2rem;
    padding-top: 10px;
    background-color: var(--right-bar);
    border: none;
    outline: none;
} */

#title-project-todo-add {
    padding-top: 10px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    background-color: var(--right-bar);
}

#description-project-todo-add {
    flex: 1;
    padding-top: 10px;

    font-size: 1rem;
    border: none;
    outline: none;
    background-color: var(--right-bar);
}

#title-project-todo-add:focus, #description-project-todo-add:focus {
    border: none;
    outline: none;
}

#duedate-project-todo-add {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}

#date-project-todo-add{
    margin-left: 10px;
}

#priority-project-todo-add {
    flex: 1;
    display: flex;
    align-items: flex-start;

    margin-top: 10px;
}

#last-row-project-todo-add{
    display: flex;
}


/* project to-do end */


/* note */

#note-container-add {
    height: 100%;
}

#note-add-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#title-note-add{
    font-size: 1.2rem;
    border: none;
    outline: none;
    background-color: var(--right-bar);
    margin-top: 10px
}


#description-note-add{
    flex: 1;
    border: none;
    outline: none;
    background-color: var(--right-bar);
    margin-top: 10px;
    font-size: 1rem;
}



#confirm-note-add {
    width: 20%;
}


/* note end */

#main-content {
    background-color: aqua;
    width: 80vw; 
    height: 80vh; 
    max-width: 1200px;
    min-width: 400px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}

header {
    background-color: var(--main-header);
    color: var(--right-bar);
    font-size: clamp(30px, 4vw, 100px);
    padding: 5px 10px;
    /* width: 60vw; */
    height: 10%;
    min-width: 400px; 

    display: flex;
    align-items: center;
}

#content {
    display: flex;
    /* width: 60vw;
    height: 40vh; */
    height: 90%;
    min-width: 400px; 
}

#content-left {
    background-color: var(--left-bar);
    padding: 48px;
    width: 30%;

    display: flex;
    flex-direction: column;

}

.left-text {
    font-size: clamp(20px, 1.5vw, 40px);
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#home-count, #today-count, #week-count, #note-count {
    height: 1em;
    width: 1em;
    background-color: pink;
    border: 6px solid pink;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.project-count {
    height: 1em;
    width: 1em;
    background-color: pink;
    border: 6px solid pink;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#project-container {
    overflow: auto;
    height: 10rem;
    width: 100%;
}

.projects {
    font-size: clamp(20px, 1.5vw, 40px);
    padding: 8px;
    
}

.project {
    margin-left: 20px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#empty-title {
    font-size: 2rem;
    padding: 10px;
    text-align: center;
}

#empty-main {
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
}

#empty-delete {
    display: block;
    margin: auto;
    padding: 10px;
}



#add-button {
    margin-top: 10px;
    font-size: 40px;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: pink;
    border: 6px solid pink;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#add-button:hover {
    cursor: pointer;
}

#content-right {
    background-color: var(--right-bar);
    padding: 48px;
    width: 70%;
    overflow: auto;

}

.todo {
    padding: 10px;
    display: flex;
    align-items: center;
    border-left: 4px solid red;
    background-color: var(--left-bar);
    gap: 10px;
    margin-bottom: 10px;
}

.todo:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: default;
}


#todo-title {
    flex-grow: 1;
    font-size: 2vw;
}

.todo-cross {
    text-decoration: line-through;
}

.todo-background {
    opacity: 0.65;
    /* background-color: grey; */
}

#detail-button {
    border: 1px solid green;
    border-radius: 4px;
    color: green;
}

#todo-date {
    width: 12%;
    text-align: center;
    font-size: small;
}

#todo-edit, #todo-delete {
    width: 5%;
}

#todo-edit:hover, #todo-delete:hover {
    color: red;
    cursor: pointer;
}

#todo-date, #todo-edit, #todo-delete {
    color: maroon;
}

/* notes */

#note-container {
    /* Masonry grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px; /* Space between the cards */
    overflow: auto;
}

.note {
    background-color: var(--left-bar);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    width: 200px;

    display: grid;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 40px 1fr;
}

.note:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


#note-title {
    font-weight: bold;
    font-size: 1.2em;

    display: flex;
    align-items: center;
    justify-content: center;

    white-space: nowrap;
}

#delete-note{
    margin-top: 10px;
    margin-right: 10px;
    font-size: small;

    display: flex;
    align-items: center;
    justify-content: center;
}

#note-title:focus, #note-description:focus {
    border: none;
    outline: none;
}

#note-description {
    word-wrap: break-word; /* Ensure long words wrap inside the box */
    grid-column-start: 1;
    grid-column-end: 3;
    border: none;

    margin: 10px;
}

#note-title, #delete-note, #note-description {
    
}



